.hero {
  width: 100%;
  max-height: 100vh;
  position: relative;
  z-index: 2;
  scroll-snap-align: start;
}
.hero::before {
  content: "";
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.268) 0%,
      rgb(0, 0, 0) 90%
    ),
    linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      rgba(107, 107, 107, 0.462) 35%,
      rgba(0, 0, 0, 0.381) 100%
    );

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  opacity: 0.9;
}
.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}
.movie_details {
  display: flex;
  width: 80%;
  z-index: 9999;
}
.movie_details img {
  width: 30%;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  z-index: 9999;
  object-position: top;
}
.movie_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  z-index: 9999;
}
.down {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.movie-details_content {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
.movie-details_content h1 {
  font-size: 50px;
  line-height: 46px;
  font-weight: bold;
  letter-spacing: 1px;
}
.movie-details_content p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 20px;
}
.trailer {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: 99999;
}
.outlines_details {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.outlines_details > h3 {
  padding: 4px;
  font-size: 18px;
  border: 0.5px solid rgb(59, 59, 59);
}
.movie_details_list {
  margin-top: 40px;
}
.movie_details_list > h2 {
  font-weight: 300;
  font-size: 22px;
  margin-top: 20px;
}
.cast {
  width: 80%;
  margin-left: 10%;
  padding: 0 60px;
  margin-top: 100px;
}
.cast_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}
.cast_card {
  width: 400px;
  display: flex;
}
.cast_card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.cast_details {
  padding: 20px;
}
.cast_details > p {
  color: rgb(142, 142, 142);
}
.production {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.production > h1 {
  width: 80%;
  text-align: left;
}
.production_list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.production_card {
  width: 400px;
  height: 400px;
  background-color: white;
}
.production_card img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border: 0.5px solid rgb(42, 42, 42);
}
.recommendation {
  width: 100%;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.recommendation .list {
  width: 90%;
  display: flex;
  gap: 30px;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-top: 30px;
}
.recommendation h1 {
  width: 90%;
  text-align: left;
}
.seasons_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seasons_container {
  width: 80%;
}
.seasons_container h3 {
  width: max-content;
  text-transform: capitalize;
  font-size: 25px;
  margin: 20px 0;
  border-bottom: 1px solid rgb(47, 149, 237);
}
.seasons {
  width: 100%;
}
.seasons ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.seasons li {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.active {
  border-radius: 10px;
  color: rgb(93, 152, 255);
  font-weight: bold;
  font-size: 18px;
}
.episode_container {
  width: 80%;
  margin-top: 30px 0;
}
.episode_card {
  width: 80%;
  display: flex;
  margin: 20px 0;
  gap: 50px;
  max-height: max-content;
  border-bottom: 1px solid #585858;
}
.episode_detail {
  display: grid;
}
.episode_detail p {
  color: #a1a1a1;
}
.episode_card img {
  border-radius: 20px;
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: top;
}
.episode_card .details {
  align-self: flex-start;
  width: 60%;
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 768px) {
  .hero {
    height: 60vh;
  }
  .hero img {
    height: 60vh;
  }
  .movie_details {
    width: 100%;
  }
  .movie_details img {
    display: none;
  }
  .movie_container {
    transform: translateY(0);
  }
  .movie-details_content {
    width: 100%;
    padding: 20px;
  }
  .movie-details_content h1 {
    font-size: 30px;
  }
  .movie-details_content p {
    font-size: 16px;
    letter-spacing: 0;
  }
  .trailer {
    height: calc(60vh - 80px);
  }
  .outlines_details > h3 {
    font-size: 15px;
  }
  .movie_details_list > h2 {
    font-size: 16px;
  }
  .movie_details_list {
    margin-top: 25px;
  }
  .movie-details_content .btn-group {
    align-items: start;
    justify-content: start;
    margin-top: 20px;
  }
  .cast {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .cast_list {
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }
  .cast_card {
    width: 200px;
    flex-direction: column;
  }
  .cast_details {
    padding: 0;
  }
  .production {
    margin: 0;
    padding: 0;
  }
  .production_list {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .production_card {
    width: 250px;
    height: 250px;
  }
  .production_card img {
    width: 250px;
    height: 250px;
  }
  .recommendation {
    padding: 0;
  }
  .seasons_container {
    width: 95%;
  }
  .episode_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .episode_card {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }
  .episode_card p {
    margin-top: 20px;
  }
  .details {
    margin: 10px 0;
  }
  .episode_card img {
    width: 100%;
  }
}
